{% extends 'layouts/main.html' %}

{% block content %}
    <style type="text/css">
        .products {
            display: flex;
            justify-content: space-between;
            margin-left: 10%;
            width: 80%;
            flex-wrap: wrap;
        }
    </style>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 20%;">
                <div class="card_body">
                    <h5>{{ product.title }}</h5>
                    {% for category in product.categories %}
                        <div>{{ category.title }}</div>
                    {% endfor %}
                    <a href="/products/{{ product.id }}/" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}