{% extends 'layouts/main.html' %}

{% block content %}
    <style type="text/css">
        .categories {
            display: flex;
            justify-content: space-between;
            margin-left: 10%;
            width: 80%;
            flex-wrap: wrap;
        }
    </style>
    <div class="categories">
        {% for category in categories %}
            <div class="card" style="width: 20%;">
            <img src="/media/{{ category.image }}/" alt="">
                <div class="card_body">
                    <h5>{{ category.title }}</h5>
{#                    <h5><img width="40px" src="/media/{{ category.image }}/" alt="">#}
{#                        {{ category.title }}</h5>#}
                    <a href="/products/?category_id={{ category.id }}" class="btn btn-primary">Смотреть продукты</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}